

/*------------------
/*--------Home---------
------------------*/


#carouselExampleCaptionshome{
    position: relative;
}


#seguidor {
    top: 100px;

}

#smile {
    color: #0084ff;
}
#smile:hover {
    color: red;
    filter: drop-shadow(0 2px 6px rgba(255, 120, 10, 0.527));
    zoom: 1.2;
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
}



#hover:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}




.categorias:hover {
    background-color:#dfdbfb;
}

/*------------------
/*--------About US---------
------------------*/
#mostrarmodal {
    display: flex;
    width:100%;
    padding: 10px 20px;
    margin: 35% auto;
    position: fixed;
}
#modalDialog {
    display: grid;
    margin-left: 1px;
    margin-top: -60px;
    padding: 10px;
}

#modalBody{
    display: flex;
    margin: 50px;
    position: fixed;
}
#btnClose{
    display: flex;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 95%;
    padding: 5px 5px;
}
#laX{
    display: flex;
    font-size: 300%;
    margin-top: -35px;
    margin-left: -11px;
    padding: 5px 5px;
}
#columna{
    display: flex;
    align-items: center;
}
#ButtomReg{
    display: block;
    margin-left: auto;
}
#ButtomMed{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#icoCovid{
    opacity: 30%;
    margin: 50px;
    padding: -10px;
    width: 80px;
    height: 80px;
}
#textShadow{
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.801);
}
#centerCard{
    display: flex;
    margin-left: auto !important;
    margin-right: 10px !important;
    text-align: center;
    background: rgb(115,215,215);
    background: linear-gradient(41deg, rgba(115,215,215,0.7374300061821604) 23%, rgba(9,38,193,0.6197829473586309) 100%);
    color: rgb(255, 255, 255);
    text-shadow: 3px 6px 6px rgba(0, 0, 0, 0.404);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2%;
}

#imgteam {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:100px;
    height:100px;
    border-radius: 20%;
    border: 2px solid rgba(55, 160, 209, 0.527);
    transition: transform .2s;
}
#imgteam:hover {
    transform: scale(1.5);
    border-radius: 50%;
    zoom: 1.5;
}
#imgui{
    transition: transform .2s;
}
#imgui:hover{
    transform: scale(1.5);
}



/*------------------
/*--------Pagina error 404---------
------------------*/
/* Style the header */

.error {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.p404{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1000%;
}
.VideoError{
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    height: auto;
    width: auto;
    border: 0px solid rgba(55, 160, 209, 0.527);
}
#videoYoutube{
    width: 100%;
    height: 400px;
}


/*------------------
/*-------- cartilla---------
------------------*/
#fila1{
    position: sticky;
    top: 14%;
    z-index: 100;
    background-color: slategray;
    height: 50px;
}
#fila2{
    position: sticky;
    top: 14%;
    z-index: 100;
    background-color: slategray;
}
#fila3{
    position: sticky;
    top: 14%;
    z-index: 100;
    background-color: slategray;
}
#fila4{
    position: sticky;
    top: 14%;
    z-index: 100;
    background-color: slategray;
}
#fila5{
    position: sticky;
    top: 14%;
    z-index: 100;
    background-color: slategray;
}
thead {
    display: contents;
    color: #FFF;
    text-align: center;
}
tbody{
    color: rgb(126, 192, 236);
    background-color: #081331d0;
}
#hr {
    display: flex;
    margin: 3px;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
    border-top: 10px solid red;
} 

/*------------------
/*--------noticias---------
------------------*/
.cards {
    width: 100%;
    height: 520px;
    border: 1px solid rgba(6, 37, 54, 0.274);
    background: rgb(108,130,227);
    background: linear-gradient(41deg, rgba(108,130,227,1) 23%, rgba(41,250,251,0.9515669515669516) 100%);
    border-radius: 4%;
    color: #FFF;
    font-size: small;
    padding: 2px;
    margin: 4px;
    text-shadow: 4px 4px 10px white;
}
#imagentarjetas{
    border-radius: 4%;
}


/*------------------
/*--------mediaquery---------
------------------*/
@media screen and (min-width: 550px) {
    #mostrarmodal {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background: rgb(0,194,194);
        background: linear-gradient(41deg, rgb(238, 243, 243) 32%, rgba(138,229,255,0.8410714627647934) 100%);
    }
}

@media screen and (max-width: 768px){
    #imagenmaschica {
        height: 170px;
        width: 270px;
    }
}
@media screen and (max-width: 550px){
        #modalBody{
        display:none;
        }
        #mostrarmodal {
            display: none;
        }
        #icoCovid{
            display: none;
            }
        #btnClose{
            display: none;
        }
        #modalsc{
            display: none;
        }
        #modalDialog{
            display: none;
        }
        .modal-backdrop{
            display: none;
        }
        #videoYoutube{
            width: 100%;
            height: 200px;
        }
        #cardrecu{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            align-items: center;
            width: 100%;
        }
        #fila1{
            position: sticky;
            top: 16%;
            z-index: 100;
            background-color: slategray;
        }
        #fila2{
            position: sticky;
            top: 16%;
            z-index: 100;
            background-color: slategray;
        }
        #fila3{
            position: sticky;
            top: 16%;
            z-index: 100;
            background-color: slategray;
        }
        #fila4{
            position: sticky;
            top: 16%;
            z-index: 100;
            background-color: slategray;
        }
        #fila5{
            position: sticky;
            top: 16%;
            z-index: 100;
            background-color: slategray;
        }
        .column-2 {
            display: none;
        }
        .column-5 {
            display: none;
        }
        .column-3 {
            display: none;
        }
}

