body {
    background-image: url('./img/contacto-fondo-mar.txt');
    background-size: cover;
    background-attachment:fixed;
    /* margin: 0;
    color: #ffff; */
}
form{
    background: rgba(0,0,0,0.4);
}
#animacion{
    animation-name: animar;
    animation-duration: 1.5s;
}
@keyframes animar{
    0%{
        transform: scale(0.3);
    }
}