.make-position-absolute {
    position: absolute;
    color: white;
    top: 30%;
    right: 30%;
    background-color: yellow;
}

/* .set-image-bg {
    background-image: url("./img/test-img-carousel.jpg");
    background-repeat: no-repeat;
    height: 30vh;
}    */

.carousel-animation{
    animation: mover 1.5s 1  alternate;
    /* background-color: gray; */
}

.height-carousel-item {
    height: 20rem;
}

.adjustmen-carousel-styles {
    padding: 0;
}

/* .container-rows-galery{
    padding: 0;
} */

.adjustmen-rows-galery{
    margin-bottom: 3vh;
}

    /* .container-rows-more-written{
        padding: 0 10%;
    } */

.costumized-container-form-news-letter{
    padding: 0 30%;
}

.costumized-corousel-for-small-screen{

}

#button-carousel-left{
    display: flex;
}
#button-carousel-right{
    display: flex;
}

@keyframes mover {
    0% { transform: translateY(150px); }
    100% { transform: translateY(-50px); }

}

@media (max-width: 768px) {
    .height-carousel-item {
        height: auto;
    }
    .costumized-corousel-for-small-screen{
        max-width: max-content;
        padding-left: 0;
        padding-right: 0;
    }
    #button-carousel-left{
        display: none;
    }
    #button-carousel-right{
        display: none;
    }
}



