body {
    font-family: 'Roboto Mono', monospace;
}

.make-position-absolute {
    position: absolute;
    color: white;
    top: 40%;
    right: 0;
    height: 90px;
    width: 270px;
    opacity: 0.8!important;
    /* background-color: yellow;
    opacity: 0; */
}

.opacity-zero div{
    opacity: 0;
}
.opacity-one {
    opacity: 1;
}

.styles-read-more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". . side";
}
.div-read-more > a {
    grid-column: 2/3;
    color: #212529;
    justify-self: end;
}
.div-read-more:hover > a {
    color: #dc3545;
    transition: color 0.2s;
    font-weight: 700;
}
.div-read-more > span {
    opacity: 0;
}
.div-read-more:hover > span {
    grid-column: 3/4;
    opacity: 1;
    transition: opacity 0.2s;
}
.carousel-animation{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}
/* .div-read-more:hover > a {
    grid-column: 2/3;
    transition: 2s;
}
.div-read-more:hover > span {
    grid-column: 3/4;
    display: inline;
}

/* .last-column span{
    display: none;
}
.last-column:hover > span {
    grid-column: 2/3;
}  */
/* .last-column:hover > span {
    display: inline;
    grid-column: 3/4;
}  */ 
/* .set-image-bg {
    background-image: url("./img/test-img-carousel.jpg");
    background-repeat: no-repeat;
    height: 30vh;
}   

.carousel-animation{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.carousel-animation-later{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.carousel-animation-latest{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.height-carousel-item {
    /* height: 44rem; */


.adjustmen-carousel-styles {
    padding: 0;
}

/* .container-rows-galery{
    padding: 0;
} */

.adjustmen-rows-galery{
    margin-bottom: 3vh;
}

    /* .container-rows-more-written{
        padding: 0 10%;
    } */

.costumized-container-form-news-letter{
    padding: 0 30%;
}

.costumized-corousel-for-small-screen{

}

.resized-text-for-sm {
    font-size: 1rem;
}

.resized-font-sm-footer{
    font-size: 1rem;
}

#button-carousel-left{
    display: flex;
}
#button-carousel-right{
    display: flex;
}

/* ESTILOS DEL HEADER Y EL NAV  */
/* prueba */
/* .li-drop-right {
    list-style: none;
    float:left;
}

.nav li a {
    
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.ul-item {
    left: 4rem;
    display:none;
    position:absolute;
    min-width:140px;
}

.li-drop-right:hover > .ul-item {
    display:block;
}

.nav li ul li {
    list-style: none;
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
} */
.li-drop-right {
    background-color: blanchedalmond;
}
.li-drop-right:hover > ul.ul-item{
    list-style: none;
    top:0;
    left: 100px;
    display: block !important;
    z-index: 2;
}
.ul-item{
    display: none;
}

/* modal */
.modal-fondo{
    backdrop-filter: blur(2px);
}


/* seccion redes costado */
.redes-costado{
    display: block;
}

.redes>div{ 
    /* box-shadow: 21px 18px 24px 6px rgba(0,0,0,0.82);
    -webkit-box-shadow: 21px 18px 24px 6px rgba(0,0,0,0.82);
    -moz-box-shadow: 21px 18px 24px 6px rgba(0,0,0,0.82); */
    backdrop-filter: opacity(3%) ;
    backdrop-filter: blur(2px);

}


.redes-icons {
    z-index: 1;
}



.redes-articulos{
    transition-duration: 0.39s;
}

.redes-articulos:hover{
    transform: scale3d(1.5, 1.5, 1.5);
    transition-timing-function:ease-in-out;
}

.redes ul li {

font-size: 2rem;
list-style: none;
}

.redes ul li a:visited{
    color: black;
}

.redes-mobile{
    display: none;
}
/* footer */

footer{
    background: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(2px);
}

footer div i{
    font-size: 3rem;
}

.nosotros-footer{
    text-shadow: 5px 5px 6px rgba(0,0,0,0.74);
}

.footer-mobile {
    display: none;
}

.footer-pc {
    display: block;
}
/* ESTILOS DEL REGISTRO */
.registro-body {
    background: url(./img/fondoregistro3.gif) no-repeat center center fixed;
    background-size: cover;
}
.registro-body > div {
    height: 90vh;
    align-items: center;
}     

.formulario{
    width: 30%;
}

/* cards */
.cards-sombra{
    /* box-shadow: 0 0 20px 1px rgba(34, 34, 34, 0.568); */
}

.pointer-none{
    pointer-events: none;
    user-select: none;
}

/* dropdown article */
.dropdown-articulo{
    display: block;
}


/* Cambios de mati en su nueva branch */
.card-animation{
    animation-name: moverImagenLeftToRight;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;  
}
.card-animation-y{
    animation-name: mover;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;  
}
.pointer-style{
    pointer-events:all;
}

.img-back-1 {
    background: url(./img/bali-indonesia_5ae3dbfe.jpg) no-repeat 50% 50% fixed; 
    background-size: cover;
}
.img-back-2 {
    background: url(./img/bali-indonesia_5ae3dbfe.jpg) no-repeat 50% 50% fixed; 
    background-size: cover;
}
.img-back-3 {
    background: url(./img/bali-indonesia_5ae3dbfe.jpg) no-repeat 50% 50% fixed; 
    background-size: cover;
}

.costumized-height {
    height: 72vh;
}

.border-and-radius {
    border-radius: 50%;
    border: 1px solid black;
}

.square {
    width: 30px;
    height: 30px;
}

.costumized-styles-ul{
    border-bottom: 4px solid #212529;
}

.pointer-event-auto {
    pointer-events: auto !important;
}

@keyframes mover {
    0% { transform: translateY(50px);
         opacity: 0;
        }
    100% { transform: translateY(0px); 
           opacity: 1;
    }

}

.go-to-top{
    bottom: 2vh;
    right: 2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #212529;
    font-size: 2rem;
}
.table-img-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-img-container {
    height: 220px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .2s;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
}

/* .table-img-container:hover{
    transform: scale(1.1) rotate(3deg);
} */

.table-img-styles {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .2s;
}
container-img-card {
    overflow: hidden;
}
.details{
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .3s;
    background: #000;
    opacity: 0.6;
    color: #fff;
    padding: 10px;
    width: 0;
    font-size: .9rem;
}

.container-img-card:hover .table-img-styles {
    transform: scale(1.1) rotate(2deg);
}

.container-img-card:hover > .details {
    width: 100%;
    left: 0;
}
/* :hover {
    
} */
.dont-show-article-info {
    display: none;
}

.dont-show-column {
    display: block;
}

.card {
    color: white;
}

.height-anuncio{
    height: 30vh;
}
.aside-img{
    height: 100%;
    object-fit: cover;
}

.font-size-list-aside {
    font-size: 10px !important;
}

.square-avatar{
    width: 20px;
    height: 20px;
}
.comment-text-size {
    font-size: 10px;
}

.height-bottom-img {
    height: 350px;
}

.hr-width {
    width: 10%;
}
.hr-padding {
    padding: 2px 0;
}
.font-size-section-3 {
    display: none;
}

.aside-img-contain {
    height: 100%;
    object-fit: contain;
}
/* 
:hover {
    {
      transform: scale(1.3) rotate(3deg);
    }
} */

@keyframes moverImagenLeftToRight {
    0% { transform: translateX(50px);
         opacity: 0;
        }
    100% { transform: translateX(0px); 
           opacity: 1;
    }

}
@media (max-width: 1200px) {
    .table-img-container {
        height: 250px;
        width: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: transform .2s;
        clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    }
}
@media (max-width: 992px) {
    .costumized-height {
        height: 65vh;
    }
    .height-bottom-img {
        height: 350px;
    }
    .table-img-container {
        height: 260px;
        width: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: transform .2s;
        clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    }
    .dropdown-articulo{
        display: none;
    }
}
@media (max-width: 768px) {
    .height-carousel-item {
        height: auto;
    }
    .costumized-corousel-for-small-screen{
        max-width: max-content;
        padding-left: 0;
        padding-right: 0;
    }
    #button-carousel-left{
        display: none;
    }
    #button-carousel-right{
        display: none;
    }
    .costumized-container-form-news-letter {
        padding: 0;
    }
    .costumized-height {
        height: 45vh;
    }
    .make-position-absolute {
        position: absolute;
        color: white;
        top: auto;
        bottom: 0;
        right: 0;
        height: 60px;
        width: 300px;
        opacity: 0.8!important;
        /* background-color: yellow;
        opacity: 0; */
    }
    .dont-show-article-info {
        display: block;
        text-align: start;
    }
    .dont-show-column {
        display: none;
    }
    .table-img-container {
        height: 300px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .details{
       display: none;
    }
    .table-img-styles {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: none;
    }
    .height-bottom-img {
        height: 270px;
    }
    .container-img-card:hover .table-img-styles {
        transform: scale(1) rotate(0deg);
    }
    
    .container-img-card:hover > .details {
        width: 100%;
        left: 0;
    }
    .styles-read-more {
        display: none;
    }
    .font-size-section-3 {
        display: block;
    }
    .font-size-section-3 a{
        font-size: 2vh;
    }
    .formulario{
        width: 75%;
    }
    .redes-mobile{
        display: block;
    }
    .redes-costado{
        display: none;
    }
    .footer-mobile {
        display: block;
    }
    .footer-pc {
        display: none;
    }
    .dropdown-articulo{
        display: none;
    }
}
@media (max-width: 576px) {
    .resized-text-for-sm {
        font-size: 0.8rem;
    }
    .resized-font-sm-footer{
        font-size: 0.6rem;
    }
    .costumized-height {
        height: 30vh;
    }
    .make-position-absolute {
        position: absolute;
        color: white;
        top: auto;
        bottom: 0;
        right: 0;
        height: 60px;
        width: 300px;
        opacity: 0.8!important;
        /* background-color: yellow;
        opacity: 0; */
    }
    .height-bottom-img {
        height: 270px;
    }
    /* .height-anuncio {
        height: 50vh!important;
    } */
    .styles-read-more {
        display: none;
    }
    .font-size-section-3 {
        display: block;
    }
    .font-size-section-3 a{
        font-size: 1.5vh;
    }
    .formulario{
        width: 75%;
    }
    .redes-mobile{
        display: block;
    }
    .redes-costado{
        display: none;
    }
    .footer-mobile {
        display: block;
    }
    .footer-pc {
        display: none;
    }
    .dropdown-articulo{
        display: none;
    }
}


@media (max-width: 425px ) {
    .height-bottom-img {
        height: 200px;
    }
    .formulario{
        width: 75%;
    }
    .redes-mobile{
        display: block;
    }
    .redes-costado{
        display: none;
    }
    .footer-mobile {
        display: block;
    }
    .footer-pc {
        display: none;
    }
    .dropdown-articulo{
        display: none;
    }
}
/* @media (min-width: 425px ) {
    .height-anuncio {
        height: 45vh;
    }
}
@media (min-width: 576px ) {
    .height-anuncio {
        height: 70vh;
    }
}
@media (min-width: 768px ) {
    .height-anuncio {
        height: 80vh;
    }
}
@media (min-width: 1200px) {
    .height-anuncio {
        height: 30vh;
    }
}
@media (max-width: 576px ) and (min-width: 425) {
    .height-anuncio {
        height: 40vh;
    }
} */
