.make-position-absolute {
    position: absolute;
    color: white;
    top: 30%;
    right: 30%;
    /* background-color: yellow;
    opacity: 0; */
}

.opacity-zero div{
    opacity: 0;
}

/* .set-image-bg {
    background-image: url("./img/test-img-carousel.jpg");
    background-repeat: no-repeat;
    height: 30vh;
}    */

.carousel-animation{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.carousel-animation-later{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.carousel-animation-latest{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.height-carousel-item {
    height: 20rem;
}

.adjustmen-carousel-styles {
    padding: 0;
}

/* .container-rows-galery{
    padding: 0;
} */

.adjustmen-rows-galery{
    margin-bottom: 3vh;
}

    /* .container-rows-more-written{
        padding: 0 10%;
    } */

.costumized-container-form-news-letter{
    padding: 0 30%;
}

.costumized-corousel-for-small-screen{

}

#button-carousel-left{
    display: flex;
}
#button-carousel-right{
    display: flex;
}

@keyframes mover {
    0% { transform: translateY(50px);
         opacity: 0;
        }
    100% { transform: translateY(0px); 
           opacity: 1;
    }

}

@media (max-width: 768px) {
    .height-carousel-item {
        height: auto;
    }
    .costumized-corousel-for-small-screen{
        max-width: max-content;
        padding-left: 0;
        padding-right: 0;
    }
    #button-carousel-left{
        display: none;
    }
    #button-carousel-right{
        display: none;
    }
    .costumized-container-form-news-letter {
        padding: 0;
    }
}



