body {

}

.make-position-absolute {
    position: absolute;
    color: white;
    top: 30%;
    right: 30%;
    /* background-color: yellow;
    opacity: 0; */
}

.opacity-zero div{
    opacity: 0;
}

/* .set-image-bg {
    background-image: url("./img/test-img-carousel.jpg");
    background-repeat: no-repeat;
    height: 30vh;
}    */

.carousel-animation{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.carousel-animation-later{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.carousel-animation-latest{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.height-carousel-item {
    height: 44rem;
}

.adjustmen-carousel-styles {
    padding: 0;
}

/* .container-rows-galery{
    padding: 0;
} */

.adjustmen-rows-galery{
    margin-bottom: 3vh;
}

    /* .container-rows-more-written{
        padding: 0 10%;
    } */

.costumized-container-form-news-letter{
    padding: 0 30%;
}

.costumized-corousel-for-small-screen{

}

.resized-text-for-sm {
    font-size: 1rem;
}

.resized-font-sm-footer{
    font-size: 1rem;
}

#button-carousel-left{
    display: flex;
}
#button-carousel-right{
    display: flex;
}

/* ESTILOS DEL HEADER Y EL NAV  */
/* navbar */

.dropdown-fondo{
    backdrop-filter: blur(2px);
}

.dropdown-fondo li a:hover{
    background:rgba(0, 0, 0, 0.295);
}

/* modal */
.modal-fondo{
    backdrop-filter: blur(2px);
}


/* seccion redes costado */
.redes>div{ 
    /* box-shadow: 21px 18px 24px 6px rgba(0,0,0,0.82);
    -webkit-box-shadow: 21px 18px 24px 6px rgba(0,0,0,0.82);
    -moz-box-shadow: 21px 18px 24px 6px rgba(0,0,0,0.82); */
    backdrop-filter: opacity(3%) ;
    backdrop-filter: blur(2px);

}

.redes-icons {
    z-index: 1;
}



.redes-articulos{
    transition-duration: 0.39s;
}

.redes-articulos:hover{
    transform: scale3d(1.5, 1.5, 1.5);
    transition-timing-function:ease-in-out;
}

.redes ul li {

font-size: 2rem;
list-style: none;
}

.redes ul li a:visited{
    color: black;
}

/* footer */

footer{
    background: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(2px);
}

footer div i{
    font-size: 3rem;
}

.nosotros-footer{
    text-shadow: 5px 5px 6px rgba(0,0,0,0.74);
}

/* ESTILOS DEL REGISTRO */
.formulario-registro{

    box-shadow: 28px 29px 94px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 28px 29px 94px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 28px 29px 94px 0px rgba(0,0,0,0.75);
border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;

}       

/* cards */
.cards-sombra{
    box-shadow: 0 0 20px 1px rgba(34, 34, 34, 0.568);
}



/* Cambios de mati en su nueva branch */
.card-animation{
    animation-name: moverImagenLeftToRight;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

@keyframes mover {
    0% { transform: translateY(50px);
         opacity: 0;
        }
    100% { transform: translateY(0px); 
           opacity: 1;
    }

}

@keyframes moverImagenLeftToRight {
    0% { transform: translateX(50px);
         opacity: 0;
        }
    100% { transform: translateX(0px); 
           opacity: 1;
    }

}

@media (max-width: 768px) {
    .height-carousel-item {
        height: auto;
    }
    .costumized-corousel-for-small-screen{
        max-width: max-content;
        padding-left: 0;
        padding-right: 0;
    }
    #button-carousel-left{
        display: none;
    }
    #button-carousel-right{
        display: none;
    }
    .costumized-container-form-news-letter {
        padding: 0;
    }
}
@media (max-width: 576px) {
    .resized-text-for-sm {
        font-size: 0.8rem;
    }
    .resized-font-sm-footer{
        font-size: 0.6rem;
    }
}



