* {
    padding: 0;
    margin:0;
}
img {
    width:100%;
}

.padding-main-section {
    padding: 5vh 5%;
}

.padding-aside-section {
    padding: 3vh 2%;
}

.avatar-img {
    border-radius: 50%;
}

.costumized-container-form-news-letter{
    padding: 0 30%;
}

.margin-10 {
    margin: 0 10%;
}

.main-article-img{
    height: 100%;
    object-fit: cover;
}

.height-main-art-img {
    /* height: 20rem; */
}

.width-10 {
    width: 10%;
}

.square-avatar-article {
    width: 40px;
    height: 40px;
}

.height-recomended-article{
    height: 20vh;
}

.adjust-img {
    height: 100%;
    object-fit: cover;
}

.font-size-section-1 h1{
    font-size: 4vh;
    font-weight: 700;
}
.font-size-section-1 a, p{
    font-size: 2.2vh;
}
.font-size-section-2 p{
    font-size: 2.2vh;
}
.font-size-section-2 h3{
    font-size: 2.5vh;
    font-weight: 700;
}
.font-size-section-3 a{
    font-size: 2.2vh;
}
.font-size-section-4 h3, h5{
    font-size: 4vh;
    font-weight: 700;
}
.font-size-section-5 {
    
}
/* .height-anuncio-articulo {
    width: 50px;
} */
/* fotos articulos */
.foto-rusia{
    background-image: url(./img/Rusia-1.jpg);
}

.foto-grecia{
    background-image: url(./img/grecia-1.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.foto-nuevayork{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./img/nueva-york\ 1.jpeg);
}

.h1-articulo{
height: 30rem;
}


@media (max-width: 992px) {
    .costumized-container-form-news-letter {
        padding: 0;
    }
    .height-main-art-img {
        /* height: 15rem; */
    }
    .height-recomended-article {
        height: 40vh;
    }
    .font-size-section-1 h1{
        font-size: 3.5vh;
        font-weight: 700;
    }
    .font-size-section-1 a, p{
        font-size: 2.2vh;
    }
    .font-size-section-2 p{
        font-size: 2.2vh;
    }
    .font-size-section-2 h3{
        font-size: 3.5vh;
        font-weight: 700;
    }
    .font-size-section-3 a{
        font-size: 2.2vh;
    }
    .font-size-section-4 h3, h5{
        font-size: 3.5vh;
        font-weight: 700;
    }
    .font-size-section-5 {
        
    }
    .font-size-section-comentario {
        font-size: 10px;
    }
}
.font-size-section-comentario {
    font-size: 10px !important; 
}
@media (max-width: 768px) {
    .costumized-container-form-news-letter {
        padding: 0;
    }
    .height-main-art-img {
        /* height: 15rem; */
    }
    .height-recomended-article {
        height: 45vh;
    }
    .font-size-section-1 h1{
        font-size: 3vh;
        font-weight: 700;
    }
    .font-size-section-1 a, p{
        font-size: 2vh;
    }
    .font-size-section-2 p{
        font-size: 2vh;
    }
    .font-size-section-2 h3{
        font-size: 3vh;
        font-weight: 700;
    }
    .font-size-section-3 a{
        font-size: 2vh;
    }
    .font-size-section-4 h3, h5{
        font-size: 3vh;
        font-weight: 700;
    }
    .font-size-section-5 {
        
    }
}
@media (max-width: 576px) {
    .height-main-art-img {
        /* height: 10rem; */
    }
    .height-recomended-article {
        height: 35vh;
    }
    /* .height-anuncio {
        height: 50vh!important;
    } */
    .font-size-section-1 h1{
        font-size: 2.2vh;
        font-weight: 700;
    }
    .font-size-section-1 a, p{
        font-size: 1.5vh;
    }
    .font-size-section-2 p{
        font-size: 1.5vh;
    }
    .font-size-section-2 h3{
        font-size: 2.2vh;
        font-weight: 700;
    }
    .font-size-section-3 a{
        font-size: 1.5vh;
    }
    .font-size-section-4 h3, h5{
        font-size: 2.2vh;
        font-weight: 700;
    }
    .font-size-section-5 {
        
    }
}

@media (max-width: 425px) {
    .height-recomended-article {
        height: 30vh;
    }
}

@media (max-width: 400px) {
    .height-anuncio-articulo {
        /* height: 250px; */
    }
}
