body {
    font-family: 'Roboto Mono', monospace;
}

.make-position-absolute {
    position: absolute;
    color: white;
    top: 40%;
    right: 0;
    height: 90px;
    width: 270px;
    opacity: 0.8!important;
    /* background-color: yellow;
    opacity: 0; */
}

.opacity-zero div{
    opacity: 0;
}

/* .set-image-bg {
    background-image: url("./img/test-img-carousel.jpg");
    background-repeat: no-repeat;
    height: 30vh;
}    */

.carousel-animation{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.carousel-animation-later{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.carousel-animation-latest{
    animation-name: mover;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;  
}

.height-carousel-item {
    /* height: 44rem; */
}

.adjustmen-carousel-styles {
    padding: 0;
}

/* .container-rows-galery{
    padding: 0;
} */

.adjustmen-rows-galery{
    margin-bottom: 3vh;
}

    /* .container-rows-more-written{
        padding: 0 10%;
    } */

.costumized-container-form-news-letter{
    padding: 0 30%;
}

.costumized-corousel-for-small-screen{

}

.resized-text-for-sm {
    font-size: 1rem;
}

.resized-font-sm-footer{
    font-size: 1rem;
}

#button-carousel-left{
    display: flex;
}
#button-carousel-right{
    display: flex;
}

/* ESTILOS DEL HEADER Y EL NAV  */
/* navbar */

.dropdown-fondo{
    backdrop-filter: blur(2px);
}

.dropdown-fondo li a:hover{
    background:rgba(0, 0, 0, 0.295);
}

/* modal */
.modal-fondo{
    backdrop-filter: blur(2px);
}


/* seccion redes costado */
.redes>div{ 
    /* box-shadow: 21px 18px 24px 6px rgba(0,0,0,0.82);
    -webkit-box-shadow: 21px 18px 24px 6px rgba(0,0,0,0.82);
    -moz-box-shadow: 21px 18px 24px 6px rgba(0,0,0,0.82); */
    backdrop-filter: opacity(3%) ;
    backdrop-filter: blur(2px);

}

.redes-icons {
    z-index: 1;
}



.redes-articulos{
    transition-duration: 0.39s;
}

.redes-articulos:hover{
    transform: scale3d(1.5, 1.5, 1.5);
    transition-timing-function:ease-in-out;
}

.redes ul li {

font-size: 2rem;
list-style: none;
}

.redes ul li a:visited{
    color: black;
}
@media screen and (max-width: 695px) {
    .ocultar-div{
    display:none;
    }
    }



/* redes mobile */
.redes-mobile {
    left: 15%;
}
@media screen and (min-width: 696px) {
    .ocultar-div-pantalla-pc{
    display:none;
    }
    }

/* footer */

footer{
    background: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(2px);
}

footer div i{
    font-size: 3rem;
}

.nosotros-footer{
    text-shadow: 5px 5px 6px rgba(0,0,0,0.74);
}

/* ESTILOS DEL REGISTRO */
.registro-body {
    background: url(./img/fondoregistro3.gif) no-repeat center center fixed;
    background-size: cover;
}
.registro-body > div {
    height: 90vh;
    align-items: center;
}
.formulario-registro{
    backdrop-filter: blur(10px);
}       

/* cards */
.cards-sombra{
    /* box-shadow: 0 0 20px 1px rgba(34, 34, 34, 0.568); */
}

.pointer-none{
    pointer-events: none;
    user-select: none;
}

/* Cambios de mati en su nueva branch */
.card-animation{
    animation-name: moverImagenLeftToRight;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;  
}
.card-animation-y{
    animation-name: mover;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:both;  
}
.pointer-style{
    pointer-events:all;
}

.img-back-1 {
    background: url(./img/bali-indonesia_5ae3dbfe.jpg) no-repeat 50% 50% fixed; 
    background-size: cover;
}
.img-back-2 {
    background: url(./img/bali-indonesia_5ae3dbfe.jpg) no-repeat 50% 50% fixed; 
    background-size: cover;
}
.img-back-3 {
    background: url(./img/bali-indonesia_5ae3dbfe.jpg) no-repeat 50% 50% fixed; 
    background-size: cover;
}

.costumized-height {
    height: 72vh;
}

.border-and-radius {
    border-radius: 50%;
    border: 1px solid black;
}

.square {
    width: 30px;
    height: 30px;
}

.costumized-styles-ul{
    border-bottom: 4px solid #212529;
}

.pointer-event-auto {
    pointer-events: auto !important;
}

@keyframes mover {
    0% { transform: translateY(50px);
         opacity: 0;
        }
    100% { transform: translateY(0px); 
           opacity: 1;
    }

}

.go-to-top{
    bottom: 2vh;
    right: 2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #212529;
    font-size: 2rem;
}
.table-img-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-img-container {
    height: 200px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-img-styles {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dont-show-article-info {
    display: none;
}

.dont-show-column {
    display: block;
}

.card {
    color: white;
}

.height-anuncio{
    height: 30vh;
}
.aside-img{
    height: 100%;
    object-fit: cover;
}

.font-size-list-aside {
    font-size: 10px !important;
}

.square-avatar{
    width: 20px;
    height: 20px;
}
.comment-text-size {
    font-size: 10px;
}

.height-bottom-img {
    height: 350px;
}


@keyframes moverImagenLeftToRight {
    0% { transform: translateX(50px);
         opacity: 0;
        }
    100% { transform: translateX(0px); 
           opacity: 1;
    }

}
@media (max-width: 992px) {
    .costumized-height {
        height: 65vh;
    }
    .height-bottom-img {
        height: 350px;
    }
}
@media (max-width: 768px) {
    .height-carousel-item {
        height: auto;
    }
    .costumized-corousel-for-small-screen{
        max-width: max-content;
        padding-left: 0;
        padding-right: 0;
    }
    #button-carousel-left{
        display: none;
    }
    #button-carousel-right{
        display: none;
    }
    .costumized-container-form-news-letter {
        padding: 0;
    }
    .costumized-height {
        height: 45vh;
    }
    .make-position-absolute {
        position: absolute;
        color: white;
        top: auto;
        bottom: 0;
        right: 0;
        height: 60px;
        width: 300px;
        opacity: 0.8!important;
        /* background-color: yellow;
        opacity: 0; */
    }
    .dont-show-article-info {
        display: block;
        text-align: center;
    }
    .dont-show-column {
        display: none;
    }
    .table-img-container {
        height: 300px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table-img-styles {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .height-bottom-img {
        height: 270px;
    }
}
@media (max-width: 576px) {
    .resized-text-for-sm {
        font-size: 0.8rem;
    }
    .resized-font-sm-footer{
        font-size: 0.6rem;
    }
    .costumized-height {
        height: 30vh;
    }
    .make-position-absolute {
        position: absolute;
        color: white;
        top: auto;
        bottom: 0;
        right: 0;
        height: 60px;
        width: 300px;
        opacity: 0.8!important;
        /* background-color: yellow;
        opacity: 0; */
    }
    .height-bottom-img {
        height: 270px;
    }
    /* .height-anuncio {
        height: 50vh!important;
    } */
}

@media (max-width: 425px ) {
    .height-bottom-img {
        height: 200px;
    }
}
/* @media (min-width: 425px ) {
    .height-anuncio {
        height: 45vh;
    }
}
@media (min-width: 576px ) {
    .height-anuncio {
        height: 70vh;
    }
}
@media (min-width: 768px ) {
    .height-anuncio {
        height: 80vh;
    }
}
@media (min-width: 1200px) {
    .height-anuncio {
        height: 30vh;
    }
}
@media (max-width: 576px ) and (min-width: 425) {
    .height-anuncio {
        height: 40vh;
    }
} */
